.MainMenu {
    transition: all 0.2s ease-in-out !important;

    box-shadow: none !important;

    &.MainMenu-transparent {
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

